body
{background: url("https://wallpaperaccess.com/full/561827.jpg");
background-size: cover;
}
html{height: 100%;}
.container{color: beige;
text-align: center;
font-family: 'Vollkorn SC', serif;}
nav{font-family: 'Vollkorn SC', serif;}
