#content{
	font-family: 'Pacifico', cursive;
	text-align: center;
	padding-top: 17%;
	color: white;
}
body{
	
	background: url(https://wallpaperplay.com/walls/full/6/0/7/343039.jpg);
	background-size: cover;
}
nav{

	font-family: 'Lobster', cursive;
}
html{
	height: 100%;
}